*~
*.elc
custom-set-variables.el
local-settings.el
eln-cache/
.cache/
.lsp-session-v1
.org-id-locations

ac-comphist.dat
projectile-bookmarks.eld
projectile.cache

.python-environments/
ac-dict/
elpa/
el-get/
auto-save-list/
server/
url/

undo-fu-session/
multisession/
transient/
ensime/
recentf
tramp
history
bookmarks
places
