*~
*.elc
custom-set-variables.el
registers.el

.lsp-session-v1
.org-id-locations

ac-comphist.dat
projectile-bookmarks.eld
projectile.cache

.python-environments/
ac-dict/
elpa/
el-get/
auto-save-list/
server/
url/

transient/
ensime/
recentf
tramp
history
bookmarks
places
